body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-size: 28px;
    color: #333;
}

#calculadora {
    width: 260px;
    margin: 30px auto;
    padding: 15px;
    border: 2px solid #444;
    border-radius: 10px;
    background-color: #ffffff;
}

#pantalla {
    width: 100%;
    height: 50px;
    background: #000;
    color: #0f0;
    font-size: 28px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    border: 2px solid #444;
    margin-bottom: 10px;
}

.fila {
    display: flex;
}

button {
    width: 60px;
    height: 50px;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid #555;
    font-size: 18px;
    cursor: pointer;
}

.btn {
    background-color: #e3e3e3;
}

.op {
    background-color: #ffcc66;
}

#limpiar {
    background-color: #ff6666;
    color: white;
}

#resultado {
    background-color: #66cc66;
}
